USE [DentalClinicDB]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 1/6/2026 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[Reason] [nvarchar](200) NULL,
	[Status] [nvarchar](20) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 1/6/2026 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] NOT NULL,
	[ImagePath] [nvarchar](300) NOT NULL,
	[Descriptions] [nvarchar](max) NULL,
	[PatientID] [int] NOT NULL,
	[DateAdded] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 1/6/2026 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[MinQuantity] [int] NOT NULL,
	[ExpiryDate] [date] NULL,
	[DAteOfPurchase] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 1/6/2026 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Age] [tinyint] NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[Phone] [nvarchar](11) NOT NULL,
	[MedicalHistory] [nvarchar](max) NULL,
	[VisitDate] [date] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CanalLength] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 1/6/2026 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Date] [date] NOT NULL,
	[Method] [nvarchar](20) NULL,
	[AccountType] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/6/2026 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [PatientID], [AppointmentDate], [Reason], [Status], [Notes]) VALUES (1, 1, CAST(N'2025-10-16T00:00:00.000' AS DateTime), N'Routine checkup', N'Scheduled', N'لا يوجد')
INSERT [dbo].[Appointments] ([AppointmentID], [PatientID], [AppointmentDate], [Reason], [Status], [Notes]) VALUES (10, 5, CAST(N'2025-10-20T00:00:00.000' AS DateTime), N'Extraction', N'Completed', N'No complications')
INSERT [dbo].[Appointments] ([AppointmentID], [PatientID], [AppointmentDate], [Reason], [Status], [Notes]) VALUES (18, 1134, CAST(N'2025-10-18T23:20:16.867' AS DateTime), N'بدون سبب', N'تمت', N'لايوجد')
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
INSERT [dbo].[Images] ([Id], [ImagePath], [Descriptions], [PatientID], [DateAdded]) VALUES (1, N'images/ali_kareem_xray1.png', N'Initial X-ray', 1, CAST(N'2025-10-10' AS Date))
INSERT [dbo].[Images] ([Id], [ImagePath], [Descriptions], [PatientID], [DateAdded]) VALUES (2, N'images/sara_ahmed_xray1.png', N'Tooth #12 before crown', 2, CAST(N'2025-10-11' AS Date))
INSERT [dbo].[Images] ([Id], [ImagePath], [Descriptions], [PatientID], [DateAdded]) VALUES (5, N'images/zain_ali_extract.png', N'Extraction result', 5, CAST(N'2025-10-14' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([ItemID], [ItemName], [Quantity], [MinQuantity], [ExpiryDate], [DAteOfPurchase]) VALUES (8, N'قوالب أسنان 2', 5, 2, CAST(N'2025-12-01' AS Date), CAST(N'2025-02-14' AS Date))
INSERT [dbo].[Inventory] ([ItemID], [ItemName], [Quantity], [MinQuantity], [ExpiryDate], [DAteOfPurchase]) VALUES (9, N'قوالب حشو', 10, 5, CAST(N'2026-08-01' AS Date), CAST(N'2025-05-05' AS Date))
INSERT [dbo].[Inventory] ([ItemID], [ItemName], [Quantity], [MinQuantity], [ExpiryDate], [DAteOfPurchase]) VALUES (10, N'جبس طبي', 11, 5, CAST(N'2025-10-18' AS Date), CAST(N'2025-10-18' AS Date))
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientID], [FullName], [Age], [Gender], [Phone], [MedicalHistory], [VisitDate], [Notes], [CanalLength], [Address]) VALUES (1, N'سجاد علي محسن الموسوي', 36, 1, N'07804366978', N'لا يوجد مشاكل', CAST(N'2025-10-16' AS Date), N'الزيارة الثانية', N'21mm', N'ناصرية \ حي اور')
INSERT [dbo].[Patients] ([PatientID], [FullName], [Age], [Gender], [Phone], [MedicalHistory], [VisitDate], [Notes], [CanalLength], [Address]) VALUES (2, N'Sara Ahmed', 32, 0, N'07898765432', N'Allergic to', CAST(N'2025-10-11' AS Date), N'Needs crown', N'19mm', N'Basra')
INSERT [dbo].[Patients] ([PatientID], [FullName], [Age], [Gender], [Phone], [MedicalHistory], [VisitDate], [Notes], [CanalLength], [Address]) VALUES (5, N'Zain Ali', 99, 1, N'07790807060', N'Smoker', CAST(N'2025-10-14' AS Date), N'Tooth extraction', N'22mm', N'Baghdad')
GO
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [PatientID], [Amount], [Date], [Method], [AccountType]) VALUES (4, 1, CAST(25000.00 AS Decimal(10, 2)), CAST(N'2025-10-10' AS Date), N'Cash', NULL)
INSERT [dbo].[Payments] ([PaymentID], [PatientID], [Amount], [Date], [Method], [AccountType]) VALUES (5, 2, CAST(40000.00 AS Decimal(10, 2)), CAST(N'2025-10-11' AS Date), N'Card', NULL)
INSERT [dbo].[Payments] ([PaymentID], [PatientID], [Amount], [Date], [Method], [AccountType]) VALUES (8, 5, CAST(20000.00 AS Decimal(10, 2)), CAST(N'2025-10-14' AS Date), N'Cash', NULL)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role]) VALUES (11, N'admin', N'5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role]) VALUES (13, N'بلال', N'5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5', N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4206DEA2F]    Script Date: 1/6/2026 4:59:17 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (N'مجدول') FOR [Status]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Patients] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Patients]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([AccountType]=N'دائن' OR [AccountType]=N'واصل'))
GO
